<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<label for="cars">Last Name: </label>
<select id="cars" name="cars" id="cars" formControlName="carsSelect">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>

<label for="last-name">Last Name: </label>
<input id="last-name" type="text" formControlName="lastName">

<p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!profileForm.valid" click=callButton()>Submit</button>
</form>

